// container

.container{
    max-width: 1296px;
    margin: 0 auto;
}

// spacing

.mr-24{
    margin-right: 24px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-28{
    margin-bottom: 28px;
}

.mb-36{
    margin-bottom: 36px;
}

.mb-32{
    margin-bottom: 32px;
}

.ptb-160{
    padding: 160px 0;
}

// flexbox

.d-flex{
    display: flex;
}