<nav class="nav">
    <ul class="menu container d-flex">
        <li class="light-gary" data-aos="fade-up"
     data-aos-anchor-placement="top-center">WILLIAM LEE</li>
        <li class="light-gary" data-aos="fade-up"
     data-aos-anchor-placement="top-center">BASED IN TAIWAN</li>
        <li class="light-gary" data-aos="fade-up"
     data-aos-anchor-placement="top-center">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</li>
        <li data-aos="fade-up"
        data-aos-anchor-placement="top-center"><a class="nav-link light-gary" href="#">CONTACT ME</a></li>
    </ul>
  </nav><!-- nav -->