<nav class="nav">
    <ul class="menu container d-flex">
        <li class="light-gary">WILLIAM LEE</li>
        <li class="light-gary">BASED IN TAIWAN</li>
        <li class="light-gary">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</li>
        <li><a class="nav-link light-gary" href="#">CONTACT ME</a></li>
    </ul>
  </nav><!-- nav -->