<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023_W7_Animation</title>
    <!-- icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <header class="header">
      <div class="info container d-flex">
          <img class="info-img mr-24" src="../assets/images/people.png" alt="william-headshot">
          <div class="info-details">
              <p class="subtitle white">Hi</p>
              <p class="subtitle white">I’m a front-end developer</p>
              <h1 class="title primary-green">William</h1>
              <a class="btn-sm-wh d-flex black" href="#">
                      <span>Contact me</span>
                      <span class="material-symbols-outlined">
                      arrow_outward
                      </span>
              </a><!-- btn-sm-wh -->
          </div><!-- info-details -->
      </div><!-- info -->
    </header>
    <div class="introduction ptb-160">
      <div class="intro-main container d-flex">
          <div class="intro">
              <h2 class="topic white mb-36">Introduction</h2>
              <p class="details white mb-32">
                  Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.
              </p>
              <ul class="sparkle-box d-flex">
                  <li>
                      <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm-img">
                  </li>
                  <li>
                      <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm-img">
                  </li>
                  <li>
                      <img src="../assets/images/sparkle-sm.png" alt="small-sparkle">
                  </li>
              </ul> 
          </div><!-- intro -->
          <ul class="intro-gallery d-flex">
              <li class="gallery-list">
                  <a href="#"><img src="../assets/images/sparkle-lg.png" alt="large-sparkle"></a>
              </li>
              <li class="gallery-list">
                  <a href="#"><img src="../assets/images/photographer.png" alt="photographer"></a>
              </li>
              <li class="gallery-list">
                  <a href="#"><img src="../assets/images/people-2.png" alt="people"></a>
              </li>
          </ul>
      </div>
    </div><!-- introduction -->
    <div class="about container d-flex ptb-160">
      <ul class="skill d-flex">
          <li class="skill-list mb-24">
              <p class="number mb-4">01</p>
              <h3 class="category mb-4">Attention to Detail</h3>
              <p>Meticulous code analysis and optimization.</p>
          </li>
          <li class="skill-list mb-24">
              <p class="number mb-4">02</p>
              <h3 class="category mb-4">Adaptability</h3>
              <p>Swift learning of new technologies.</p>
          </li>
              <li class="skill-list">
              <p class="number mb-4">03</p>
              <h3 class="category mb-4">Problem Solver</h3>
              <p>Identifying and resolving issues.</p>
          </li>
          <li class="skill-list">
              <p class="number mb-4">04</p>
              <h3 class="category mb-4">Team Player</h3>
              <p>Collaborates and shares ideas.</p>
          </li>
      </ul>
      <div class="about-details">
          <h2 class="topic mb-36 black">About Me</h2>
          <p class="details">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
      </div>  
    </div><!-- about -->
    <div class="contact">
      <div class="contact-main container d-flex">
          <div class="contact-title d-flex">
              <h2 class="topic white">Contact me</h2>
              <span class="material-symbols-outlined is-100">
                  trending_flat
              </span>
          </div>
          <ul class="social d-flex">
              <li class="social-item"><a href="#"><img src="../assets/images/discord.png" alt="discord"></a></li>
              <li class="social-item"><a href="#"><img src="../assets/images/instagram.png" alt="instagram"></a></li>
              <li class="social-item"><a href="#"><img src="../assets/images/message.png" alt="message"></a></li>
          </ul>
      </div>
    </div><!-- contact -->
    <div class="projects container ptb-160">
          <h2 class="topic tr black mb-16">My Projects</h2>
          <div class="projects-main d-flex">
              <a href="#"><img class="work-gallery-img" src="../assets/images/work.png" alt="work"></a>
              <div class="projects-info">
                  <div class="work-card d-flex mb-28">
                      <a href="#"><img class="work-gallery-img w-196" src="../assets/images/code.png" alt="code"></a>
                      <div class="work-info d-flex">
                          <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.
                          </p>
                          <a class="btn-sm-bk d-flex white" href="#">
                              <span>Contact me</span>
                              <span class="material-symbols-outlined">
                              arrow_outward
                              </span>
                          </a><!-- btn-sm-bk -->
                      </div>
                  </div>
                  <div class="work-gallery d-flex">
                      <a class="work-gallery-img" href="#"><img src="../assets/images/phone.png" alt="phone"></a>
                      <a class="work-gallery-img" href="#"><img src="../assets/images/computer.png" alt="computer"></a>
                  </div>
              </div><!-- projects-info -->
          </div><!-- projects-main -->
    </div><!-- projects -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
